*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.signup-head{
    text-align: center;
    position: relative;
    color: #d294e5;
    font-size: 30px;
    font-weight: 100;
    background-image: url("/page.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 130vh;
}

.signup-heading{
    padding-top: 400px;
}

.signup-name{
    border-radius: 20px;
    border: 1px solid #d294e5;
    padding: 10px 80px;
    margin-top: 20px;
    text-align: center;
}

.signup-email{
    border-radius: 20px;
    border: 1px solid #d294e5;
    padding: 10px 80px;
    margin-top: 20px;
    text-align: center;
}

.signup-pwd{
    border-radius: 20px;
    border: 1px solid #d294e5;
    padding: 10px 80px;
    margin-top: 20px;
    text-align: center;
}

.signup-submit{
    background-color: #d294e5;
    border-radius: 20px;
    border: 1px solid #ffffff;
    padding: 10px 121px;
    color: #ffffff;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}

.signup-text{
    font-size: 16px;
    display: inline;
}

.signup-login{
    font-size: 16px;
    display: inline;
    margin-left: 10px;
    color: #d294e5;
}

.signup-submit:hover{
    background-color: #d294e5ca;
}

.signup-login:hover{
    color: #c300ffca;
}