*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.p11-head{
    text-align: center;
    background-image: url("/img.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 150vh;
}

.p11-heading{
    padding-top: 180px;
    color: #E8849A;
    font-size: 50px;
}

.p11-text{
    padding-top: 20px;
    color: #ef9ce5f3;
    font-size: 16px;
}

.p11-btn1, .p11-btn2,.p11-btn3,.p11-btn4{
    color: white;
    border: 1px solid #E8849A;
    border-radius: 30px;
    margin-top: 40px;
    font-size: 20px;
    background-color: #E8849A;
}

.p11-btn{
    position: relative;
}

.p11-img1{
    height: 450px;
    width: 300px;
    position: absolute;
    left: 200px;
    top: 50px;
}
.p11-img2{
    height: 700px;
    width: 310px;
    position: absolute;
    left: 500px;
    top: 10px;
}
.p11-img3{
    height: 670px;
    width: 350px;
    position: absolute;
    left: 750px;
    top: -50px;
}
.p11-img4{
    height: 480px;
    width: 200px;
    position: absolute;
    left: 1080px;
    top: 20px;
}

.p11-btn1{
    position: absolute;
    left: 250px;
    top: 480px;
    padding: 10px 80px;
}
.p11-btn2{
    position: absolute;
    left: 550px;
    top: 480px;
    padding: 10px 80px;
}
.p11-btn3{
    position: absolute;
    left: 830px;
    top: 480px;
    padding: 10px 60px;
}
.p11-btn4{
    position: absolute;
    left: 1085px;
    top: 480px;
    padding: 10px 80px;
}
.p11-next{
    background-color: white;
    border: 1px solid #E8849A;
    padding: 10px 60px;
    border-radius: 30px;
    margin-top: 40px;
    font-size: 20px;
    color: #E8849A;
    width: 73%;
    position: absolute;
    top: 550px;
    left: 200px;
}

.p11-next:focus{
    color: white;
    border: 1px solid #E8849A;
    background-color: #E8849A;
}

.p11-btn1:focus , .p11-btn2:focus , .p11-btn3:focus , .p11-btn4:focus{
    background-color: #ffaec0;
    border: 1px solid #ffffff;
}