*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.p13-head{
    text-align: center;
    background-image: url("/img.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 160vh;
}

.p13-heading{
    padding-top: 180px;
    color: #E8849A;
    font-size: 50px;
}

.p13-text{
    padding-top: 20px;
    color: #ef9ce5f3;
    font-size: 16px;
}
.p13-img{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 500px;
    margin: 0px 50px;
}
.p13-rate{
    color: #d793e4;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    top: 920px;
    left: 42%;
}
.p13-star{
    text-align: center;
    color: #d793e4;
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    top: 970px;
    left: 43%;
}
.p13-layers{
    position: relative;
    top: 20px;
}
.p13-layers img{
    object-fit: contain;  /* keeps proportions */
}
.p13-maniqune{
    position: absolute;
    height: 600px;
    width: 300px;
    top: 0px;
    left: 40%;
}
.p13-hair{
    position: absolute;
    top: -10px;
    left: 590px;
    height: 150px;
    width: 300px;
}
.p13-makeup{
    position: absolute;
    top: 150px;
    left: 450px;
    height: 100px;
    width: 300px;
}
.p13-outfit{
    position: absolute;
    top: 60px;
    left: 590px;
    height: 500px;
    width: 300px;
}
.p13-footwear{
    position: absolute;
    top: 500px;
    left: 570px;
    height: 100px;
    width: 300px;
}